<% if @card_id != "" && @card_id != nil %>
  <br /> 
  <p><%= link_to card_path(@card_id) do %>
  <i class="fa fa-arrow-circle-left"></i> back to card
  <% end %>  
  </p>
<% end %>

<div id="edit-fighter-section">
  <div id="edit-fighter-section-content">
    <h4>Edit this boxer</h4>
    <%= form_tag({controller: "fighters", action: "edit_fighter"}, method: "post") %>
      
      <div class="control-group">
        <%= label_tag :first_name %>
        <div class="controls">
          <%= text_field_tag :first_name, @first_name %>
        </div>
      </div>
      
      <div class="control-group">
        <%= label_tag :last_name %>
        <div class="controls">
          <%= text_field_tag :last_name, @last_name %>
        </div>
      </div>

      <br /> 
      
      <%= hidden_field_tag(:card, @card_id) %>

      <div class="control-group">
        <div class="controls">
          <%= submit_tag "Submit", class: 'btn btn-default' %>
        </div>
      </div>

  </div>
</div>