<h1>Cards#show</h1>
<p>Find me in app/views/cards/show.html.erb</p>

<table class='table table-bordered'>
  <tbody>
    <thead>
      <th>Red Corner:<br /><%= @red_corner_name %></th>
      <th>Round #</th>
      <th>Blue Corner:<br /><%= @blue_corner_name%></th>   
    </thead>
    <% @rounds.each do |round| %>
        <% red_cell = round.redcornercell.id %>
        <% blue_cell = round.bluecornercell.id %>
      
      <tr>  
        <td>
          round.id is: <%= round.id %><br />
          redcornercell id is: <%= red_cell %><br />
        </td>
        
        <td><%= round.round_number %></td>
        
        <td>
          round.id is: <%= round.id %><br />
          bluecornercell id is: <%= blue_cell %><br /> 
        </td>
      </tr>
    
    <% end %>
  </tbody>
</table>
