<script>
  $(document).ready(function() {
      $(".tip").tooltip();
});
</script>

<h1>Your Scorecard</h1>

<table class='table table-bordered' id='card-table'>
  <colgroup>
    <col class="quick-score-column" />
    <col />
    <col class="rounds-column" />
    <col />
    <col class="quick-score-column" />
  </colgroup>
  <tbody>
    <thead>
      <tr>
        <th class="quick-score-red-th">Quick Score</th>
        <th>
          <%= link_to @red_corner_name, edit_fighter_path(:id => @red_corner, :card => @card), :title => "Edit Boxer Name", :class => 'tip' %>
        </th>
        <th>Rnd #</th>
        <th>
          <%= link_to @blue_corner_name, edit_fighter_path(:id => @blue_corner, :card => @card), :title => "Edit Boxer Name", :class => 'tip' %>
        </th>   
        <th class="quick-score-blue-th">Quick Score</th>
      </tr>
    </thead>
    <% @rounds.each do |round| %>
      <% blue_cell_points = Cell.cell_points_total(round.bluecornercell) %>
      <% wins_round_id = Action.find_by_action_code("WinsRound").id %>
      <% loses_round_id = Action.find_by_action_code("LosesRound").id %>
      <% point_deduction_id = Action.find_by_action_code("PointDeduct").id %>
      <% ko_id = Action.find_by_action_code("WinsByKO").id %>
      <% tko_id = Action.find_by_action_code("WinsByTKO").id %>

      <tr>  
        <td class="quick-score-red-cell">
          <%= render partial: 'cards/quick_score_red', locals: { :boxer_name => @red_corner_name, :corner => "red", :round => round, :wins_round_id => wins_round_id, :loses_round_id => loses_round_id, :point_deduction_id => point_deduction_id, :ko_id => ko_id, :tko_id => tko_id } %>
        </td>
        <td>
          <%= render partial: 'cards/round_result_for_this_boxer', locals: {:cell => round.redcornercell} %>
        </td>
        
        <td><%= round.round_number %></td>
        
        <td>
          <%= render partial: 'cards/round_result_for_this_boxer', locals: {:cell => round.bluecornercell} %>
        </td>

        <td class="quick-score-blue-cell">
          <%= render partial: 'cards/quick_score_blue', locals: { :boxer_name => @blue_corner_name, :corner => "blue", :round => round, :wins_round_id => wins_round_id, :loses_round_id => loses_round_id, :point_deduction_id => point_deduction_id, :ko_id => ko_id, :tko_id => tko_id } %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td><%= Card.current_score(@card, "red") %></td>
      <td>Score</td>
      <td><%= Card.current_score(@card, "blue") %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= Card.final_score(@card, "red") %>
      </td>
      <td>Final</td>
      <td><%= Card.final_score(@card, "blue") %></td>
      <td></td>
    </tr>
    
    <tr>
      <td>&nbsp;</td>
      <td colspan="3">
       <% if (Card.rounds_with_stoppage_events(@card, "red").empty? == false) %>
        <% stoppage_rounds = Card.rounds_with_stoppage_events(@card, "red") %>
        <% last_stoppage_round = stoppage_rounds.last %>
        <h5 class="final-result-indicator">Final Result: </h5>
        <%= Card.display_card_result_statement(@card, last_stoppage_round) %>
       <% elsif Card.all_rounds_scored_from_both_fighters?(@card) %>
        <%= Card.display_card_result_statement_due_to_scoring(@card) %>
       <% else %>
       &nbsp;
       <% end %>
      </td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>