<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>

<h1>Cards#show</h1>
<p>Find me in app/views/cards/show.html.erb</p>

<table class='table table-bordered'>
  <colgroup>
    <col class="quick-score-column" />
    <col />
    <col class="rounds-column" />
    <col />
    <col class="quick-score-column" />
  </colgroup>
  <tbody>
    <thead>
      <tr>
        <th>Quick Score</th>
        <th><%= @red_corner_name %></th>
        <th>Rnd #</th>
        <th><%= @blue_corner_name%></th>   
        <th>Quick Score</th>
      </tr>
    </thead>
    <% @rounds.each do |round| %>
      <% red_cell_points = Cell.cell_points_total(round.redcornercell) %>
      <% blue_cell_points = Cell.cell_points_total(round.bluecornercell) %>
      <% wins_round_id = Action.find_by_name("Wins Round").id %>
      <% loses_round_id = Action.find_by_name("Loses Round").id %>
      <% point_deduction_id = Action.find_by_name("Point Deduction (generic)").id %>
      <% ko_id = Action.find_by_name("Wins by KO (Knocks Out other opponent)").id %>
      <% tko_id = Action.find_by_name("Wins by TKO (generic Technical Knock Out)").id %>

      <tr>  
        <td>
          <%= render partial: 'cards/quick_score', locals: { :boxer_name => @red_corner_name, :corner => "red", :round => round, :wins_round_id => wins_round_id, :loses_round_id => loses_round_id, :point_deduction_id => point_deduction_id, :ko_id => ko_id, :tko_id => tko_id } %>
        </td>
        <td>
          <% if (red_cell_points != 0) %>
            <%= link_to red_cell_points, edit_cell_path(round.redcornercell), :title => "Edit this score", :class => 'tip' %>
          <% end %>
        </td>
        
        <td><%= round.round_number %></td>
        
        <td>
          <% if (blue_cell_points != 0) %>
            <%= link_to blue_cell_points, edit_cell_path(round.bluecornercell), :title => "Edit this score", :class => 'tip' %>
          <% end %>
        </td>

        <td>
          <%= render partial: 'cards/quick_score', locals: { :boxer_name => @blue_corner_name, :corner => "blue", :round => round, :wins_round_id => wins_round_id, :loses_round_id => loses_round_id, :point_deduction_id => point_deduction_id, :ko_id => ko_id, :tko_id => tko_id } %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td><%= Card.current_score(@card, "red") %></td>
      <td>Score</td>
      <td><%= Card.current_score(@card, "blue") %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= Card.final_score(@card, "red") %>
      </td>
      <td>Final</td>
      <td><%= Card.final_score(@card, "blue") %></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="5">TODO: Need to implement comment on Winner here<br />
        Not sure about final format yet. </td>
    </tr>
  </tbody>
</table>